<!-- views/login-success.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Login Successful - HighRon Tech</title>
    <link rel="stylesheet" href="/stylee.css" />
  </head>
  <body>
    <div class="container">
      <h2>Login Successful!</h2>
      <p>You have successfully logged in.</p>
    </div>
    <script>
      // Redirect after 3 seconds
      setTimeout(() => {
          window.location.href = '/home';
      }, 3000);
  </script>

  </body>
</html>
