/* General Styling */
body {
    font-family: Arial, sans-serif;
    background: url('revivie.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
/* Navigation Bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #431b1b;
    color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

nav .logo {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 1px;
}

nav .nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav .nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    transition: color 0.3s ease;
}

nav .nav-links a:hover {
    color: #f39c12;
}
/* Footer 
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.5px;
    margin-bottom: 2px;
}*/

.reviews h1 {
    font-size: 2.5rem;
    text-align: center;
    color: #ed6a6a;
}

.marquee {
    display: inline-block;
    white-space: nowrap;
    font-size: 1.5rem;
    color: black;
    animation: scrollText 30s linear infinite; /* Slow, smooth scrolling */
}

@keyframes scrollText {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}
