/* General Styles */
body {
    font-family: 'Piazzolla', serif;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
}

/* Navigation Bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #431b1b;
    color: #fff;
}

nav .logo {
    font-size: 1.5rem;
    font-weight: 700;
}

nav .nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

nav .nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
}

nav .nav-links a:hover {
    color: #7542e5;
}

/* Hero Section */
.hero {
    background:url(hero-bg.jpg);
    color: #fff;
    padding: 5rem 2rem;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto 2rem;
}

.cta-button {
    background-color: #7542e5;
    color: #fff;
    padding: 0.8rem 2rem;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 700;
}

.cta-button:hover {
    background-color: #592acb;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 1rem;
}