<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Profiles</title>
    <link rel="stylesheet" href="styleT.css">
</head>
<body>
    <nav>
        <div class="logo">HighRon Tech</div>
        <ul class="nav-links">
            <li><a href="/home">Home</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/team">Team</a></li>
            <li><a href="/schedule">Scheduling</a></li>
            <li><a href="/reviews">Customer Reviews</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </nav>
    <div class="team-container">
        <div class="team-member">
            <img src="images/Sneekord.jpg" alt="Ronald K. Langat">
            <h2>RONALD K. LANGAT</h2>
            <h3>Computer Scientist</h3>
            <p>Ronald K. is a seasoned computer scientist with over 2 years of experience in developing innovative tech solutions. His expertise in full-stack development and passion for user-centered design enables him to create seamless and impactful applications.</p>
        </div>
        <div class="team-member">
            <img src="images/jemuu.jpg" alt="Mercy Chemutai">
            <h2>MERCY JEMUTAI</h2>
            <h3>Software Engineer</h3>
            <p>Mercy J. is a frontend specialist in web development, passionate about creating engaging, user-friendly interfaces. With expertise in modern frameworks, responsive design, and UI/UX principles, she brings digital experiences to life with seamless interactivity and visually appealing designs.</p>
        </div>
        <div class="team-member">
            <img src="images/image1.jpg" alt="Alan Kibet">
            <h2>ALAN KIBET</h2>
            <h3>Computer Scientist</h3>
            <p>Alan K. is a backend server specialist in web development, skilled in building robust, scalable, and efficient systems. With expertise in databases, APIs, and server management, he ensures seamless functionality and performance for modern web applications.</p>
        </div>
        <div class="team-member">
            <h2>Team update</h2>
            <h3>All team member should appear here as we proceed</h3>
        </div>
    </div>  
      <!-- Footer -->
    <footer>
        <p><marqee>&copy;2023 HighRon Tech Company. All rights reserved.</marquee></p>
    </footer>
</body>
</html>
